html,
body {
  height: 100%;
  overflow-y: visible;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: absolute;
}
h2 {
  font-size: 18px;
  cursor: pointer;
}
h2 small {
  display: block;
}
textarea {
  width: 100%;
  max-width: 100%;
  outline: 0;
  border: 0;
}
nav .list-unstyled li {
  margin-left: 10px;
  float: right;
}
nav .list-unstyled li i.fa {
  cursor: pointer;
}
.container-fluid {
  margin-left: 40px;
}
.col-md-20,
.col-lg-20 {
  width: 20%;
}
.btn-bars {
  height: 35px;
  width: 35px;
  background-color: #cecece;
  position: absolute;
  top: -18px;
  left: -18px;
}
.btn-bars a {
  line-height: 35px;
  color: #fff;
}
div.tooltip[role="tooltip"] {
  width: 300px;
  font-weight: 200;
  z-index: 9999999999;
}
div.tooltip[role="tooltip"] .tooltip-inner {
  text-align: left;
}
div.tooltip[role="tooltip"] .tooltip-inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.tooltip[role="tooltip"] .tooltip-inner ul li {
  margin: 0 0 5px 0;
  padding: 0;
}
.hint-container {
  z-index: 999999;
  top: 0;
  right: 0;
  position: fixed;
}
/*
.box
  background-color #FFF
  border-top: 0;
  border-bottom: 0;

#row-up
  height 60vh
  border-bottom 2px solid black
  
  .box:last-child
    border-right 0


#row-up div.box, #row-up section.box
  height 100%
  overflow-y scroll

#row-down
  height 40vh
  section
    &.box
      height 100%
      overflow-y scroll
  .box:last-child
    border-right 0
*/
._history,
._help {
  padding-bottom: 80px;
}
._contact form {
  margin-top: 30px;
}
._contact form input,
._contact form textarea {
  padding: 30px 0 30px 20px;
  font-size: 22px;
}
._contact form input.form-control,
._contact form textarea.form-control {
  box-shadow: none;
}
._contact form input.form-control:hover,
._contact form textarea.form-control:hover,
._contact form input.form-control:focus,
._contact form textarea.form-control:focus {
  border: 1px solid #4ba93c;
  outline: none;
}
._about .mod-social a {
  margin-right: 15px;
}
._view .col-lg-6:first-child,
._canvas .col-lg-6:first-child {
  display: none;
}
._view .col-lg-6:last-child,
._canvas .col-lg-6:last-child {
  width: 100%;
}
._edit .col-lg-6:last-child {
  border: 1px solid #ccc;
  overflow-y: scroll;
}
._edit textarea {
  padding: 9px;
}
@media only screen and (min-width: 320px) {
  div,
  section {
    border: 0;
  }
  section {
    display: block;
  }
  .col-md-20 {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .col-md-20 {
    width: 20%;
  }
  .col-md-2,
  .col-md-4,
  .col-md-6,
  .col-md-12 {
    border: 1px solid #000;
  }
  .box {
    background-color: #fff;
    border-top: 0;
    border-bottom: 0;
  }
  #row-up {
    height: 60vh;
    border-bottom: 2px solid #000;
  }
  #row-up .box:last-child {
    border-right: 0;
  }
  #row-up section.half-box {
    height: 50%;
    position: absolute;
    border: 0;
    overflow-y: scroll;
  }
  #row-up section.half-box.bottom {
    border-top: 2px solid #000;
    bottom: 0;
  }
  #row-up div.box,
  #row-up section.box {
    height: 100%;
    overflow-y: scroll;
  }
  #row-down {
    height: 40vh;
  }
  #row-down section.box {
    height: 100%;
    overflow-y: scroll;
  }
  #row-down .box:last-child {
    border-right: 0;
  }
}
