<div class="_about col-lg-8 col-lg-offset-2">
  <h1>About me</h1>
  <hr>
  
  <h2>Piero blunda <small>Full Stack developer</small></h2>
  <p>When I discovered that my hobbie was computer coding, I knew that I will never have to work again.</p>
  
  <p>Through long years I developed my skills as entrepenenur and full stack programmer. Today I'm working on my own projects and I am also part of Sinaptica labs team.</p>

  <p>Hey! Not everything are computers. I like italian cofee and if you like we can share one sometime.</p>
  
  <section class="mod-social">
    <h2>Social</h2>
    <a href="https://github.com/pieroblunda/html5-Bussines-Model-Canvas">
      <i class="fa fa-github fa-3x"></i>
    </a>

    <a href="ar.linkedin.com/pub/piero-blunda/b3/912/502/es">
      <i class="fa fa-linkedin fa-3x"></i>
    </a>
  </section>
</div>