<div class="_canvas" loadstorage>
  
  <div id="row-up" class="row">
    <!-- -- -- -- -- -->
    <!-- keyPartness -->
    <!-- -- -- -- -- -->
    <section class="col-md-2 col-md-20 box">
      <h2>Key partness <i class="fa fa-venus-mars pull-right"></i><small>Asociaciones clave</small></h2>
      <div marked="localData.keyPartness"></div>
    </section>

    <div class="col-md-2 col-md-20 box">
      <div class="row">
        <!-- -- -- -- ---- -->
        <!-- keyActivities -->
        <!-- -- -- -- ---- -->
        <section class="col-md-12 half-box">
          <h2>Key Activities <i class="fa fa-puzzle-piece pull-right"></i> <small>Actividades Clave</small></h2>
          <div marked="localData.keyActivities"></div>
        </section>

        <!-- -- -- -- ---- -->
        <!-- keyResorces ---->
        <!-- -- -- -- ---- -->
        <section class="col-md-12 half-box bottom">
          <h2>Key Resorces <i class="fa fa-globe pull-right"></i> <small>Recursos clave</small></h2>
          <div marked="localData.keyResorces"></div>
        </section>
      </div>
    </div>
    
    <!-- -- -- -- ---- -- -->
    <!-- valueProposition -->
    <!-- -- -- -- ------- -->
    <section class="col-md-4 col-md-20 box">
      <h2>Value Proposition <i class="fa fa-gift pull-right"></i><small>Propuestas de valor</small></h2>
      <div marked="localData.valueProposition"></div>
    </section>

    <div class="col-md-2 col-md-20 box">
      <div class="row">
        <!-- -- -- -- ---- ---- ---->
        <!-- customerRelationship -->
        <!-- -- -- -- ---- ---- ---->
        <section class="col-md-12 half-box">
          <h2>Customer relationship <i class="fa fa-heart-o pull-right"></i><small>Relaciones con los clientes</small></h2>
          <div marked="localData.customerRelationship"></div>
        </section>

        <!-- -- -- -- --->
        <!-- channels  -->
        <!-- -- ---- ---->
        <section class="col-md-12 half-box bottom">
          <h2>Channels <i class="fa fa-truck pull-right"></i><small>Canales</small></h2>
          <div marked="localData.channels"></div>
        </section>
      </div>
    </div>

    <!-- -- -- -- ---- ---- ---->
    <!-- customerSegments ------>
    <!-- -- -- -- ---- ---- ---->
    <section class="col-md-2 col-md-20 box">
      <h2>Sustomer segments <i class="fa fa-crosshairs pull-right"></i><small>Segmentos del mercado</small></h2>
      <div marked="localData.customerSegments"></div>
    </section>

  </div>

  <div id="row-down" class="row">
    <!-- -- -- -- ---- ---- ---->
    <!-- costStructure ------>
    <!-- -- -- -- ---- ---- ---->
    <section class="col-md-6 box">
      <h2>Cost Structure <i class="fa fa-credit-card pull-right"></i> <small>Estructura de costos</small></h2>
      <div marked="localData.costStructure"></div>
    </section>

    <!-- -- -- -- ---- ---- ---->
    <!-- revenueStreams -------->
    <!-- -- -- -- ---- ---- ---->
    <section class="col-md-6 box">
      <h2>Revenue Streams <i class="fa fa-calculator pull-right"></i> <small>Fuentes de ingresos</small></h2>
      <div marked="localData.revenueStreams"></div>
    </section>
  </div>
</div>