<div class="_canvas">
  
  <div>
    <h1 id="probando">asdasd</h1>
  </div>
  
  <div id="row-up" class="row">
    <!-- -- -- -- -- -->
    <!-- keyPartness -->
    <!-- -- -- -- -- -->
    <section class="col-md-2 col-md-20 box">
      <h2>Key partness <i class="fa fa-venus-mars pull-right"></i><small>Asociaciones clave</small></h2>
      <div id="txt-1" class="iiMdPreview view" textarea-name='textarea-1' text="{{localdata.keyPartness}}"></div>
    </section>

    <div class="col-md-2 col-md-20 box">
      <div class="row">
        <!-- -- -- -- ---- -->
        <!-- keyActivities -->
        <!-- -- -- -- ---- -->
        <section class="col-md-12 half-box">
          <h2>Key Activities <i class="fa fa-puzzle-piece pull-right"></i> <small>Actividades Clave</small></h2>
          <div id="txt-2" class="iiMdPreview view" textarea-name='textarea-2' text="{{localdata.keyActivities}}"></div>
        </section>

        <!-- -- -- -- ---- -->
        <!-- keyResorces ---->
        <!-- -- -- -- ---- -->
        <section class="col-md-12 half-box bottom">
          <h2>Key Resorces <i class="fa fa-globe pull-right"></i> <small>Recursos clave</small></h2>
          <div id="txt-3" class="iiMdPreview view" textarea-name='textarea-3' text="{{localdata.keyResorces}}"></div>
        </section>
      </div>
    </div>
    
    <!-- -- -- -- ---- -- -->
    <!-- valueProposition -->
    <!-- -- -- -- ------- -->
    <section class="col-md-4 col-md-20 box">
      <h2>Value Proposition <i class="fa fa-gift pull-right"></i><small>Propuestas de valor</small></h2>
      <div id="txt-4" class="iiMdPreview view" textarea-name='textarea-4' text="{{localdata.valueProposition}}"></div>
    </section>

    <div class="col-md-2 col-md-20 box">
      <div class="row">
        <!-- -- -- -- ---- ---- ---->
        <!-- customerRelationship -->
        <!-- -- -- -- ---- ---- ---->
        <section class="col-md-12 half-box">
          <h2>Customer relationship <i class="fa fa-heart-o pull-right"></i><small>Relaciones con los clientes</small></h2>
          <div id="txt-5" class="iiMdPreview view" textarea-name='textarea-5' text="{{localdata.customerRelationship}}"></div>
        </section>

        <!-- -- -- -- --->
        <!-- channels  -->
        <!-- -- ---- ---->
        <section class="col-md-12 half-box bottom">
          <h2>Channels <i class="fa fa-truck pull-right"></i><small>Canales</small></h2>
          <div id="txt-6" class="iiMdPreview view" textarea-name='textarea-6' text="{{localdata.channels}}"></div>
        </section>
      </div>
    </div>

    <!-- -- -- -- ---- ---- ---->
    <!-- customerSegments ------>
    <!-- -- -- -- ---- ---- ---->
    <section class="col-md-2 col-md-20 box">
      <h2>Sustomer segments <i class="fa fa-crosshairs pull-right"></i><small>Segmentos del mercado</small></h2>
      <div id="txt-7" class="iiMdPreview view" textarea-name='textarea-7' text="{{localdata.customerSegments}}"></div>
    </section>

  </div>

  <div id="row-down" class="row">
    <!-- -- -- -- ---- ---- ---->
    <!-- costStructure ------>
    <!-- -- -- -- ---- ---- ---->
    <section class="col-md-6 box">
      <h2>Cost Structure <i class="fa fa-credit-card pull-right"></i> <small>Estructura de costos</small></h2>
      <div id="txt-8" class="iiMdPreview view" textarea-name='textarea-8' text="{{localdata.costStructure}}"></div>
    </section>

    <!-- -- -- -- ---- ---- ---->
    <!-- revenueStreams -------->
    <!-- -- -- -- ---- ---- ---->
    <section class="col-md-6 box">
      <h2>Revenue Streams <i class="fa fa-calculator pull-right"></i> <small>Fuentes de ingresos</small></h2>
      <div id="txt-9" class="iiMdPreview view" textarea-name='textarea-9' text="{{localdata.revenueStreams}}"></div>
    </section>
  </div>
</div>