<div id="row-up" class="row">
  <section class="col-md-2 col-md-20 box" fullscreen ng-show="viewBox == 'box1' || viewBox == 'all'">
    <header>
      <h2 data-toggle="tooltip" data-placement="bottom" title="Describiremos la red de proveedores y los socios que contribuyen. Las asociaciones clave las podemos enclavar dentro de 4 áreas: <ul><li>a) Alianzas estratégicas con otras empresas que no sean competencia</li><li> b) Asociaciones con empresas que sí sean competencia</li><li> c) Asociación con otras empresas para la creación de nuevos negocios </li><li>d) Relaciones clientes-proveedores para garantizar de esta manera la fiabilidad de los suministros.</ul>">Key partness <i class="fa fa-venus-mars pull-right"></i><small>Asociaciones clave</small></h2>
      <nav>
        <ul class="list-unstyled">
          <li ng-click="changeBox('box1')"><i class="fa fa-edit"></i></li>
          <li ng-click="changeBox('all')"><i class="fa fa-times"></i></li>
        </ul>
      </nav>
    </header>
    <div id="txt-1" class='iiMdPreview' textarea-name='textarea-1' localstorage="keyPartness"></div>
  </section>

  <div class="col-md-2 col-md-20 box">
    <div class="row">
      <section class="col-md-12 half-box" fullscreen ng-show="viewBox == 'box2' || viewBox == 'all'">
        <header>
          <h2 data-toggle="tooltip" data-placement="bottom" title="Las acciones más importantes para que el modelo de negocio de una empresa funcione y tenga éxito. Al igual que los recursos clave, las actividades clave serán los elementos que necesitamos sí o sí en la empresa, de esta manera podremos llegar a los mercados, a os clientes.">Key Activities <i class="fa fa-puzzle-piece pull-right"></i> <small>Actividades Clave</small></h2>
          <nav>
            <ul class="list-unstyled">
              <li ng-click="changeBox('box2')"><i class="fa fa-edit"></i></li>
              <li ng-click="changeBox('all')"><i class="fa fa-times"></i></li>
            </ul>
          </nav>
        </header>
        <div id="txt-2" class='iiMdPreview' textarea-name='textarea-2' localstorage="keyActivities"></div>
      </section>

      <section class="col-md-12 half-box bottom" fullscreen ng-show="viewBox == 'box3' || viewBox == 'all'">
        <header>
          <h2 data-toggle="tooltip" data-placement="bottom" title="Haremos una relación de los activos más importantes que necesita nuestro modelo de negocio. Nuestros recursos clave podrán ser tanto físicos como económicos, intelectuales o humanos, dependiendo de nuestro modelo de negocio y a lo que nos dediquemos. No debemos olvidar que es lo que realmente necesitamos para el funcionamiento y no los elementos básicos que obviamente, aunque también los necesitemos para trabajar, no son imprescindibles (bolígramos, grapas, folios…)">Key Resorces <i class="fa fa-globe pull-right"></i> <small>Recursos clave</small></h2>
          <nav>
            <ul class="list-unstyled">
              <li ng-click="changeBox('box3')"><i class="fa fa-edit"></i></li>
              <li ng-click="changeBox('all')"><i class="fa fa-times"></i></li>
            </ul>
          </nav>
        </header>
        <div id="txt-3" class='iiMdPreview' textarea-name='textarea-3' localstorage="keyResorces"></div>
      </section>
    </div>
  </div>

  <section class="col-md-4 col-md-20 box" fullscreen ng-show="viewBox == 'box4' || viewBox == 'all'">
    <header>
      <h2 data-toggle="tooltip" data-placement="bottom" title="Aquí describimos el conjunto de productos o servicios que ofrecemos que y que dan un valor a nuestro proyecto. Lo que hacemos es determinar cuál es el problema que pueden o que tienen los clientes y les ofrecemos una solución. Son las ventajas que ofrece nuestra empresa a los clientes. Ser diferentes, ser innovadores está muy bien, pero no es necesario que todas nuestras propuestas de valor también lo sean, podemos incluir acciones que ya existen en el mercado.">Value Proposition <i class="fa fa-gift pull-right"></i><small>Propuestas de valor</small></h2>
      <nav class="row">
        <ul class="list-unstyled col-xs-12">
          <li ng-click="changeBox('box4')"><i class="fa fa-edit"></i></li>
          <li ng-click="changeBox('all')"><i class="fa fa-times"></i></li>
        </ul>
      </nav>
    </header>
    <div id="txt-4" class='iiMdPreview' textarea-name='textarea-4' localstorage="valueProposition"></div>
  </section>

  <div class="col-md-2 col-md-20 box">
    <div class="row">
      <section class="col-md-12 half-box" fullscreen ng-show="viewBox == 'box5' || viewBox == 'all'">
        <header>
          <h2 data-toggle="tooltip" data-placement="bottom" title="Determinaremos los diferentes tipos de relaciones que una empresa establece con los segmentos de mercado. En este apartado debemos indicar el tipo de relación, si automática o personalizada, en cada momento de la relación con el cliente: captación, fidelización, venta… ya que en cada momento debemos establecer el tipo de relación, al igual que según el cliente nos relacionaremos de una manera o de otra.">Customer relationship <i class="fa fa-heart-o pull-right"></i><small>Relaciones con los clientes</small></h2>
          <nav>
            <ul class="list-unstyled">
              <li ng-click="changeBox('box5')"><i class="fa fa-edit"></i></li>
              <li ng-click="changeBox('all')"><i class="fa fa-times"></i></li>
            </ul>
          </nav>
        </header>
        <div id="txt-5" class='iiMdPreview' textarea-name='textarea-5' localstorage="customerRelationship"></div>
      </section>

      <section class="col-md-12 half-box bottom" fullscreen ng-show="viewBox == 'box6' || viewBox == 'all'">
        <header>
          <h2 data-toggle="tooltip" data-placement="bottom" title="Aquí debemos indicar el modo en que una empresa se comunica con los segmentos de mercado para proporcionarles la propuesta de valor. No es solamente la comunicación, sino también la distribución y venta. De esta manera sabremos la forma en que damos a conocer a nuestros clientes los productos y servicios, permitir a los clientes que adquieran los productos y servicios, atención postventa.">Channels <i class="fa fa-truck pull-right"></i><small>Canales</small></h2>
          <nav>
            <ul class="list-unstyled">
              <li ng-click="changeBox('box6')"><i class="fa fa-edit"></i></li>
              <li ng-click="changeBox('all')"><i class="fa fa-times"></i></li>
            </ul>
          </nav>
        </header>
        <div id="txt-6" class='iiMdPreview' textarea-name='textarea-6' localstorage="channels"></div>
      </section>
    </div>
  </div>

  <section class="col-md-2 col-md-20 box" fullscreen ng-show="viewBox == 'box7' || viewBox == 'all'">
    <header>
      <h2 data-toggle="tooltip" data-placement="bottom" title="Son los clientes propiamente dicho. Si estudiamos a nuestros clientes podremos definir cuál es el target por el que vamos a ir directamente. De esta manera podremos hacer grupos, grandes o pequeños, según diferentes necesidades: si son empresas o particulares, si tenemos que llegar a ellos por diferentes canales, por índices de rentabilidad (no se utilizarán los mismos recursos para captar un gran cliente que un cliente “pequeño”. Una vez estudiado nuestros clientes ya podremos crear un modelo de negocio enfocado a nuestros potenciales clientes.">Sustomer segments <i class="fa fa-crosshairs pull-right"></i><small>Segmentos del mercado</small></h2>
      <nav>
        <ul class="list-unstyled">
          <li ng-click="changeBox('box7')"><i class="fa fa-edit"></i></li>
          <li ng-click="changeBox('all')"><i class="fa fa-times"></i></li>
        </ul>
      </nav>
    </header>
    <div id="txt-7" class='iiMdPreview' textarea-name='textarea-7' localstorage="customerSegments"></div>
  </section>

</div>

<div id="row-down" class="row">
  <section class="col-md-6 box" fullscreen ng-show="viewBox == 'box8' || viewBox == 'all'">
    <header>
      <h2 data-toggle="tooltip" data-placement="top" title="Indicaremos los costes que hacen falta para la puesta en marcha del proyecto. Se describirán los principales costes. Aunque son fáciles de describir debemos tenerlos muy encuenta para no caer en idea que sólo tenemos ingresos.">Cost Structure <i class="fa fa-credit-card pull-right"></i> <small>Estructura de costos</small></h2>
      <nav>
        <ul class="list-unstyled">
          <li ng-click="changeBox('box8')"><i class="fa fa-edit"></i></li>
          <li ng-click="changeBox('all')"><i class="fa fa-times"></i></li>
        </ul>
      </nav>
    </header>
    <div id="txt-8" class='iiMdPreview' textarea-name='textarea-8' localstorage="costStructure"></div>
  </section>

  <section class="col-md-6 box" fullscreen ng-show="viewBox == 'box9' || viewBox == 'all'">
    <header>
      <h2 data-toggle="tooltip" data-placement="top" title="Aquí indicaremos muy detalladamente la manera en que vamos a tener ingresos. No olvidar que hay que descontar los gastos. Deberemos tener muy claro de qué manera vamos a generar ingresos y desde qué fuentes, ya que pueden ser fijos, variables, negociaciones, según el mercado, por subasta, etc. Podemos tener dos tipos de fuentes de ingresos: a) Ingresos por transacción directa b) Ingresos recurrentes por pagos periódicos.">Revenue Streams <i class="fa fa-calculator pull-right"></i> <small>Fuentes de ingresos</small></h2>
      <nav>
        <ul class="list-unstyled">
          <li ng-click="changeBox('box9')"><i class="fa fa-edit"></i></li>
          <li ng-click="changeBox('all')"><i class="fa fa-times"></i></li>
        </ul>
      </nav>
    </header>
    <div id="txt-9" class='iiMdPreview' textarea-name='textarea-9' localstorage="revenueStreams"></div>

    <div class="btn-bars img-circle text-center">
      <a href="#" role="button" data-toggle="popover" data-trigger="focus" title="Piero" data-content="Blunda">
        <i class="fa fa-bars"></i>
      </a>
    </div>

  </section>
</div>